.hero
{
  background-image:linear-gradient(rgba(0, 73, 73, 0.806) 100% 100%) ,url("../../media/oporanhho-IZyAtxoPX98-unsplash.jpg");
  background-position: center center;
  background-size: cover;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.hero .container{
  width: 50%;
  text-align: center;
}
.hero h1{
  font-size: 84px;
  line-height: 100px;
}
.hero p{
  font-size: 30px;
  line-height: 50px;
  font-weight: 400;
}
.philosopher{
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.philosopherbold {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: normal;
}
